 <!DOCTYPE html>
<html>
<title>HTML Tutorial</title>
<body>


<h1> Ingresa tus datos </h1>

<form action="/socios/nuevo/procesar" >
<input type="text" name="nombre" placeholder=" ingrese Nombre" >    </input>
<input type="text" name="apellido" placeholder=" ingrese Apellido">   </input>
<input type="text" name="email" placeholder=" ingrese Email">   </input>
<input type="text" name="dni" placeholder=" ingrese DNI">   </input>
<input type="submit" value="Registrar" > </input>
</form>


</body>
</html> 